/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper Layout */
.login-wrapper {
    display: flex;
    width: 90%;
    max-width: 1100px;
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

/* Left Side (Image & Logo) */
.login-left {
    position: relative;
    flex: 1;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #888;
}


.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: blur(2px) brightness(0.3);
}

/* Background image */
.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px) brightness(0.3);
}

/* Logo container */
.logo-container {
    justify-content: center;
    align-items: center;
    top: 30px;
    margin-left:-40px;
    z-index: 2;
    width: 100px;
    /* controls the logo size */
    height: auto;
}

.logo{
    font-size: 30px;
    color: white;
    width: 100%;
    height: auto;
    object-fit: contain;
   
}
/* Right Side (Login Form) */
.login-right {
    flex: 1;
    background-color: #121212;
    padding: 60px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #fff;
}

.login-form p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #444;
    background: transparent;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s ease;
}

.input-group input::placeholder {
    color: #888;
}

.input-group input:focus {
    outline: none;
    border-color: #00ffcc;
}

/* Submit Button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #00ffcc;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #00e6b8;
}